PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server=172.31.2.5
ServerActive=172.31.2.5
Hostname={{ inventory_hostname }}
AllowRoot=1
Include=/etc/zabbix/zabbix_agentd.d/
